#include "../base.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.fineliner.skeleton-dev
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconDev

GAD_APPLICATION_IDENTIFIER = ca-app-pub-3940256099942544~1458002511 // 샘플 id.

CUSTOM_SUPABASE_URL_STRING = https:/$()/xxx-skeleton.supabase.co/
CUSTOM_SUPABASE_KEY = xxx-skeleton

CUSTOM_GOOGLE_AD_UNIT_ID_FOR_MAIN_PLATE_BOTTOM_BANNER_AD = ca-app-pub-3940256099942544/2435281174 // 배너 광고의 테스트 전용 단위 id
CUSTOM_GOOGLE_AD_UNIT_ID_FOR_RESULT_DIALOG_FULL_AD = ca-app-pub-3940256099942544/4411468910 // 전면 광고의 테스트 전용 단위 id
