#include "../base.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER = com.fineliner.skeleton
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

GAD_APPLICATION_IDENTIFIER = ca-app-pub-3940256099942544~1458002511 // 샘플 id.

CUSTOM_SUPABASE_URL_STRING = https:/$()/xxx-skeleton.supabase.co/
CUSTOM_SUPABASE_KEY = xxx-skeleton

CUSTOM_GOOGLE_AD_UNIT_ID_FOR_MAIN_PLATE_BOTTOM_BANNER_AD = xxx-skeleton
CUSTOM_GOOGLE_AD_UNIT_ID_FOR_RESULT_DIALOG_FULL_AD = xxx-skeleton
